<div class="content">
  <h2>{{ 'currency.mainHeading' | translate }}</h2>
  <p>{{ 'currency.subHeading' | translate }}</p>
  <vdl-card>
    <vdl-card-content>
      <h3>{{ 'currency.CurTitle' | translate }} </h3>
      <table class="vdl-table" style="width: 100%;">
        <tr class="vdl-header-row ng-star-inserted">
          <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.usCurrencyFormat' | translate }}
          </td>
          <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.usCurrencyText' | translate }}
          </td>
        </tr>
        <tr class="vdl-header-row ng-star-inserted">
          <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.nonUsCurrencyFormat' | translate }}
          </td>
          <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.nonUsCurrencyText' | translate }}
          </td>
        </tr>
        <tr class="vdl-header-row ng-star-inserted">
          <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.WrongCurrencySymbolFormat' | translate }}
          </td>
          <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.WrongCurrencySymbolText' | translate }}
          </td>
        </tr>
        <tr class="vdl-header-row ng-star-inserted">
          <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.DecimalFormat' | translate }}
          </td>
          <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.DecimalText' | translate }}
          </td>
        <tr class="vdl-header-row ng-star-inserted">
          <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.ThousandFormat' | translate }}
          </td>
          <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
            {{ 'currency.ThousandText' | translate }}
          </td>
        </tr>
      </table>
    </vdl-card-content>
  </vdl-card>
</div>
